/*
style.css
--------- 
*/


/* Chargement des Polices */
@font-face{
    font-family: 'AlexBrush-Regular';
    src: url('polices/AlexBrush-Regular.ttf');
}

@font-face{
    font-family: 'Rubik-Regular';
    src: url('polices/Rubik-Regular.ttf');
}

@font-face{
    font-family: 'AmaticSC-Regular';
    src: url('polices/AmaticSC-Regular.ttf');
}

/* Eléments principaux de la page */

body{
    margin: 0;
	color:#353535; /* couleur police */
	font-family:Rubik-Regular, Arial, serif; /* police */
	font-size:1em; /* taille police */
    text-align: justify;
}

h1{
	font-family: AmaticSC-Regular, Arial, serif; /* police */
	font-size: 4em;  /* taille police */
	color:#353535;  /* couleur police */
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

h2{
	font-family: AmaticSC-Regular, Arial, serif; /* police */
	font-size: 4em; /* taille police */
	color:#353535 /* couleur police */
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
}

h3{
	font-family: AmaticSC-Regular, Arial, serif; /* police */
	font-size: 2em; /* taille police */
	color:#353535 /* couleur police */
    margin-top: 50px;
    margin-bottom: 50px;
	margin-left: 150px;
}

p, ul{
	font-family: AlexBrush-Regular, Arial, serif; /* police */
	font-size: 1.25em; /* taille police */
	color:#353535 /* couleur police */
    margin-top: 50px;
    margin-bottom: 50px;
	margin-left: 50px;
	margin-right: 50px;
}

/*##############*/
/* Navigation */
/*##############*/


nav li{
	font-family: AmaticSC-Regular, Arial, serif; /* police */
    color: #353535; /* couleur */
	font-size: 2em; /* taille police */
	display : inline;
    padding: 0.5em;
    margin: 10px 10px 10px 10px;
}

nav a:hover{ /* Quand le visiteur passe au dessus avec la souris */

    color: #760001; /* Appliquer une couleur bordeaux */
    border-bottom: 3px solid #760001; /* souligne */
}

a{
text-decoration:none; /* enleve le trait dessous */
}

/*##############*/
/* CLASS */
/*##############*/
.q
{
	font-style:italic;
}

.box1 {
  background: #F68265;
  width=
}

.box2 {
  background: #FCF5D9;
}

.box3 {
  background: #FFFFFF;
}

.img{
	max-width: 100%;
    height: auto;
}
.ListeClic{
	font-family: AmaticSC-Regular, Arial, serif; /* police */
	font-size: 2em; /* taille police */
	color:#353535 /* couleur police */
    margin-top: 50px;
    margin-bottom: 50px;
	margin-left: 150px;
}


/*##################*/
/* Liste déroulante */
/*##################*/

/* cacher la liste */
input + label + ul {
  display: none;
}

/* rendre clicable le titre */
input:checked + label + ul {
  display: block;
}

/* supprimer la checkbox */
[type="checkbox"],
[type="radio"] {
  display: none;
}
